.index {
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        width: 80%;
        max-height: 90%;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(255 255 255 / 17%);

        @media screen and (width <= 700px) {
            padding: 18px;
        }
    }
}

.title {
    color: var(--font-color);
    font-size: 40px;
    text-shadow: 3px 1px 10px #2421ce;
}
