.button-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.timer-input {
    width: 60px;
    height: 35px;
    border: 2px solid rgb(255 255 255);
    border-radius: 10px;
    background-color: var(--backgorund);
}

.timer-label {
    height: 35px;
}

.disabled {
    background-color: #afafaf91;
    pointer-events: none;
}

.message {
    width: 240px;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 0.04em;
    text-align: center;
}
