.option {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--main-color);
    gap: 1rem;

    &__container {
        display: grid;
        width: 100%;
        max-width: 48rem;
        padding: 1rem;
        gap: 1rem;
        grid-template: 'option option' min-content;
    }
}

.option-list {
    display: flex;
    overflow: auto;
    width: 100%;
    max-width: 50rem;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    scrollbar-color: rgb(169 144 245 / 35.4%) transparent;
    scrollbar-width: thin;
}

.input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

    &__title {
        flex-grow: 1;
    }

    &__weight {
        max-width: 6rem;

        @media screen and (width <= 700px) {
            max-width: 5rem;
        }
    }
}

.label {
    display: flex;
    width: 50px;
    max-width: 8rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    pointer-events: none;
    text-align: center;
}
