.option {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(118 35 177);
    gap: 1rem;

    &__container {
        display: grid;
        width: 100%;
        max-width: 48rem;
        padding: 1rem;
        gap: 1rem;
        grid-template: 'option option' min-content;
    }
}

.option-list {
    display: flex;
    overflow: auto;
    width: 100%;
    max-width: 48rem;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    scrollbar-color: rgb(191 144 245) transparent;
    scrollbar-width: thin;
}

.input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

    &__title {
        flex-grow: 1;
    }

    &__weight {
        max-width: 5rem;
    }
}

.label {
    display: flex;
    max-width: 4rem;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(118 35 177);
    color: white;
}
