.main {
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;

    &__container {
        width: 900px;
        padding: 40px;
        border-radius: 10px;
        background-color: rgb(255 255 255 / 17%);
    }
}

.title {
    margin-bottom: 20px;
    font-size: 40px;
}
