.button {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--font-color);
    transition: all 0.5s;

    &__container {
        display: grid;
        width: 100%;
        max-width: 50rem;
        padding: 0 1rem 1rem;
        gap: 1rem;
        grid-template:
            'add-option-btn add-option-btn' min-content
            'paste-list-btn clear-list-btn' min-content
            'save-list-btn load-list-btn' min-content
            'start-btn start-btn' min-content / 1fr 1fr;
        margin-inline: auto;
    }

    &:hover {
        background-color: rgb(255 255 255 / 0%);
    }
}

.add-option-btn {
    grid-area: add-option-btn;
}

.paste-list-btn {
    grid-area: paste-list-btn;
}

.clear-list-btn {
    grid-area: clear-list-btn;
}

.save-list-btn {
    grid-area: save-list-btn;
}

.load-list-btn {
    grid-area: load-list-btn;
}

.start-btn {
    grid-area: start-btn;
}

.delete-btn {
    max-width: 5rem;
}

.off {
    background-color: #afafaf91;
}
